/Repaso-ciclo-while/nbproject/private/
/Repaso-ciclo-while/build/
/Taller1-1erbimestre/Taller1/nbproject/private/
/Taller1-1erbimestre/Taller1/build/
/Ejercicio-For/JavaApplication8/nbproject/private/
/Ejercicio-For/JavaApplication8/build/